@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "TimeTracker";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    <h1 class="display-4 fw-bold mb-3">Willkommen beim TimeTracker</h1>
    <h2 class="text-muted">Verwalten Sie Ihre Projekte und tracken Sie Ihre Arbeitszeit</h2>
</div>